Adafruit_BusIO=1.14.1           # (https://github.com/adafruit/Adafruit_BusIO)
Adafruit_GFX=1.11.5             # (https://github.com/adafruit/Adafruit-GFX-Library)
Adafruit_HMC5883=1.2.1          # (https://github.com/adafruit/Adafruit_HMC5883_Unified)
Adafruit_LIS2MDL=2.1.4          # (https://github.com/adafruit/Adafruit_LIS2MDL)
Adafruit_LSM303_Accel=1.1.6     # (https://github.com/adafruit/Adafruit_LSM303_Accel)
Adafruit_LSM303DLH_Mag=1.0.8    # (https://github.com/adafruit/Adafruit_LSM303DLH_Mag)
Adafruit_Sensor=1.1.9           # (https://github.com/adafruit/Adafruit_Sensor)
Adafruit_SSD1306=2.5.7          # (https://github.com/adafruit/Adafruit_SSD1306)
